.footer {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.links p:nth-child(1) {
  color: gray;
}

.links p {
  margin: 10px 20px;
}